<!DOCTYPE html>
<html>
<head>
    <title>VERSUS</title>
    <meta charset="utf-8">
    <meta name="application-name" content="VERSUS">
    <meta name="viewport" content="initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#0A161C">
    <link rel="stylesheet" type="text/css" href="/styles/common.css">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <link rel="icon" href="/media/mobile-icon.png">
    <link rel="icon" sizes="192x192" href="/media/mobile-icon-192.png">
    <link rel="apple-touch-icon" href="/media/mobile-icon-apple.png"/>
</head>
<body class="dark-mode">

<header>
    <wrap>
        <div id="topmain">
            <a class="index" href="/"><img id="logo" src="/media/logo.png"></a>
            <div id="brand">
                <li><a class="index" href="/"><img id="name" src="/media/name.png"></a></li>
                <!-- <h1><a class="index" href="/">VERSUS</a></h1> -->
                <!-- <h3>Smart Betting on Binance Smart Chain</h2> -->
            </div>
        </div>
    </wrap>
    <wrap>
        <div id="topbar">Smart betting on a smart chain</div>
    </wrap>
</header>

<section id="main">
    <li><button class="gobet" onclick="javascript:window.location.href='events'">BETTING ON BINANCE</button></li>
    <img id="hero" src="/media/hero.jpg"/>
</section>

<section id="info">
    <div id="howto">
        <h1>How to Bet on Binance Smart Chain?</h1>
        <p>In order to bet on Versus you need to have installed <a href="https://chrome.google.com/webstore/detail/binance-chain-wallet/fhbohimaelbohpjbbldcngcnapndodjp">Binance Chain Wallet Extension</a> for your Brave, Firefox or Chrome browser</p>
        <p>Once you have it installed all you need to do is select the event you want to bet on and enter the amount in BNB, a popup will appear asking you to confirm the transaction and in less than a second the confirmation will appear, presto</p>
        <h2>Smart betting on a smart chain!</h2>
    </div>
    <div id="wallex">
        <img src="/media/walletx.jpg">
    </div>
</section>

<footer>
    <div><button class="gobet" onclick="javascript:window.location.href='events'">BETTING ON BINANCE</button></div>
    <div id="rights"><span id="namebot">&copy; Versus.one</span> <img id="logobot" src="/media/logo.png"> <span id="copybot">All rights reserved</span></div>
</footer>
</body>
</html>